// Import only what you need from
@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

$new-primary: hsl(171, 100%, 41%);

a {
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    // font-weight: bold;
    color: hsl(0, 0%, 96%) !important;
    background-color: $new-primary !important;
  }
}

li {
  margin: 16px auto;
}

.navbar {
  margin-bottom: 48px;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.form-container {
  width: 50%;
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.navlink-active {
  color: $new-primary !important;
  font-weight: bold;
  background-color: hsl(0, 0%, 98%);
}

.cancel-btn {
  margin-right: 8px;
}
